extends common/layout
block content
    //main.main
        //h1 Main title
        //p Some text
        //span Hello span
        //section.container_bigBlockOne
        //    section.container_bigBlockOne__boldText How Dreamshare works?
        //    section.d_Flex
        //        section.container_bigBlockOne__boldText__Step_1
        //        section.container_bigBlockOne__boldText__Step_2
        //        section.container_bigBlockOne__boldText__Step_3
        //    section.container_bigBlockOne__boldTextTwo Meet a partner for your best holiday
        //    section.d_Flex
        //        section.container_bigBlockOne__boldTextTwo__Partner1
        //        section.container_bigBlockOne__boldTextTwo__Partner2
        //        section.container_bigBlockOne__boldTextTwo__Partner3
        //        section.container_bigBlockOne__boldTextTwo__Partner4
        //    section.container_bigBlockOne_redText See other partners