header.container
    section.container_headerPhoto
    section.container_bigBlockOne
        section.container_bigBlockOne__boldText How Dreamshare works?
        section.d_Flex
            section.container_bigBlockOne__boldText__Step_1
            section.container_bigBlockOne__boldText__Step_2
            section.container_bigBlockOne__boldText__Step_3
        section.container_bigBlockOne__boldTextTwo Meet a partner for your best holiday
        section.d_Flex
            section.container_bigBlockOne__boldTextTwo__Partner1
            section.container_bigBlockOne__boldTextTwo__Partner2
            section.container_bigBlockOne__boldTextTwo__Partner3
            section.container_bigBlockOne__boldTextTwo__Partner4
        section.container_bigBlockOne_redText See other partners
    section.container_holidayPhoto
        section.container_holidayPhoto__textHoliday Discover holiday activity ideas
    section.container_holidayActivity
        section.container_holidayActivity__textActivity Crate your holiday activity
        section.container_holidayActivity__textSmall Hi! What are your holiday interests?
        form
            input(type='text', placeholder='Enter you interests')
            input(type='reset', value='Search partners')


